.footer {
    margin-top: 2rem;
    border-top: rem(1px) solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
    position: relative;
    z-index: 100;
    background-color: var(--mantine-color-body);
  }
  
  .inner {
    padding-top: var(--mantine-spacing-xl);
    padding-bottom: var(--mantine-spacing-xl);
  
    @media (max-width: mantine-breakpoint-xs) {
      flex-direction: column;
    }
  }
  
  .links {
    @media (max-width: mantine-breakpoint-xs) {
      margin-top: var(--mantine-spacing-md);
    }
  }